# For local testing start only the ones you are not working on

services:
  db:
    image: postgres:16.4-alpine3.20
    restart: always
    env_file: .env
    volumes:
      - db_vol:/var/lib/postgresql/data
    ports:
      - 5432:5432

  cache:
    image: redis:alpine3.19
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: always
    env_file: .env
    ports:
      - 6379:6379
      - 8001:8001

  api:
    depends_on:
      db:
        condition: service_started
      cache:
        condition: service_started
    build: ./pok
    # image: dofer123/pok:latest-${PLATFORM:-x86_64}
    restart: always
    env_file: .env
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=cache
      - IMAGEN_HOST=imagen
    volumes:
      - auth_vol:/app/auth
      - new_cards_vol:/app/newCards
    ports:
      - 3000:3000

  imagen:
    depends_on:
      db:
        condition: service_started
    build: ./imagen
    restart: always
    env_file: .env
    environment:
      - POSTGRES_HOST=db
    volumes:
      - new_cards_vol:/app/newCards
    ports:
      - 8080:8080

volumes:
  db_vol:
  auth_vol:
  new_cards_vol:
