apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pok
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default 
  source:
    repoURL: https://github.com/doper1/POK.git
    targetRevision: HEAD 
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: pok
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
  revisionHistoryLimit: 10
